<div class="container">
  <div class="row">
    <div class="mb-3 col-md-4">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="first name">
    </div>
    <div class="mb-3 col-md-4">
      <label for="middleName" class="form-label">Middle Name</label>
      <input type="text" class="form-control" id="middleName" placeholder="middle name">
    </div>
    <div class="mb-3 col-md-4">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="last name">
    </div>
  </div>

  <div class="row">
    <div class="mb-3 col-md-6">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3 col-md-6">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="number" class="form-control" id="phoneNumber" placeholder="Phone Number">
    </div>
  </div>
  <div class="mb-3">
    <label for="formFileMultiple" class="form-label">Multiple files input example</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Describe the issue</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
  </div>


</div>
